body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace !important;
  color: white !important;
  background-color: #222323 !important;
}

a{
  color: white !important;
}

a:hover{
  color: #408eff !important;
}

body, button, input, select, textarea{
  font: 14px/1.5 Roboto, sans-serif;
}