.textoInicio{
  width: 100%;
	text-align: center;
	font-size: 14px;
}

.boton{
	font-size: 25px;
	background-color: #408eff;
	color: white;
	padding: 8px 15px;
	border:none;	
 	border-radius:.25rem;
	cursor: pointer;
}

.boton:hover{
  background-color: #5f9efb;
}

.boton:active{
  background-color: #2176f0;
}

.boton:focus{
	outline: none;
	border: 0;
}
.ranking{
	margin: 32px auto;
	width: 50%;
}

.loading-ranking {
	border: 10px solid #555759; /* Light grey */
	border-top: 10px solid #000; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}