.ListaCaras{
  margin:0;
  padding: 0;
  text-align: center;
}

.ListaCaras .itemCara{
  cursor: pointer;
  margin: 0;
  padding: 15px !important;
  display: inline-block;
}

.ListaCaras .itemCara img{
  width: 160px;
  height: 180px;
  border-radius: 10%;
  border: 2px solid white;
  background-color: #e5e5e5;
}

.ListaCaras .itemCara img:hover{
  border-radius: 10%;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  transform:scale(1.1,1.1);
}

.ListaCaras .itemCara img:active{
  border-radius: 10%;
  border: 2px solid #408eff;
  box-shadow: 0 0 10px #408eff;
}

.ListaCaras .itemDescartado{
  opacity: .4;
}

.loading-cara{
  /* centrar en la imagen */
  position: absolute;
  top: 37%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  border: 10px solid #2176f0; /* Light grey */
  border-top: 10px solid transparent; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.ListaCaras .itemCara.cargando {
    position: relative;
    text-align: center;
}

