.centrado {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .btn{
	width: 100%;
	margin-top: 5px;
}

form input{
    width: 100%;
	margin-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    border: 0px solid;
    text-align: center;
}
.info{
    font-size: 12px;
}
.info-registro{
    font-size: 12px;
    color: #007bff !important;
}

form button{
    width: 100%;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    border: 0px solid;
}

body{
    background:url('../../img/background.gif');
    background-size: cover;
}