#btnPreguntar-escribir, #btnPreguntar-hablar{
  border:none;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  box-shadow: 2px 2px 3px grey;
  margin-right: 10px;
  cursor: pointer;
  background-color: whitesmoke;
}

#btnPreguntar-escribir:active, #btnPreguntar-hablar:active{
  box-shadow: 0px 0px 3px grey;
}

#btnPreguntar-escribir:hover, #btnPreguntar-hablar:hover{
  background-color: #dee9fc;
}

#btnPreguntar-escribir:disabled, #btnPreguntar-hablar:disabled{
  pointer-events: none;
  opacity: 0.7;
}

#btnPreguntar-escribir, .Hablar{
  display: inline-block;
}

.sound-wave{
  display: none;
}
.pregunta{
  margin-top: 64px;
}