#btnPreguntar-escribir, #btnPreguntar-hablar{
  border:none;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  box-shadow: 2px 2px 3px grey;
  margin-right: 10px;
  cursor: pointer;
  background-color: whitesmoke;
}

#btnPreguntar-escribir:active, #btnPreguntar-hablar:active{
  box-shadow: 0px 0px 3px grey;
}

#btnPreguntar-escribir:hover, #btnPreguntar-hablar:hover{
  background-color: #dee9fc;
}

#btnPreguntar-escribir:disabled, #btnPreguntar-hablar:disabled{
  pointer-events: none;
  opacity: 0.7;
}

#btnPreguntar-escribir, .Hablar{
  display: inline-block;
}

.sound-wave{
  display: none;
}
.pregunta{
  margin-top: 10px;
}

#preg_resp_div{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.loading{
  padding: 0;
  margin: 0;
}
.loading:after {
  font-size: 50px;
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

.noEntendio{
  font-size: 25px;  
}

.respNO, .respSI{
  font-size: 25px;
  color: white;
  padding: 10px;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 100%;
}

.respSI{
  background-color: green;
}

.respNO{
  background-color: #ff1515;
}

.transicion{
  transition: opacity 300ms ease-out;
}

.ocultar{
  opacity: 0;
}

.mostrar{
  opacity: 1;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}